@import "style/index.scss";

.local-city-container {
  @include mq($from: tablet) {
    display: none;
  }

  @include mq($until: tablet) {
    padding-left: 15px;
    padding-top: 20px;
  }

  .city-state {
    display: inline-block;
    margin-right: 3px;
    text-transform: uppercase;
  }
  .no-location-data {
    color: black;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .enter-zip-code,
  .local-city {
    color: #e57d21;
    font-weight: 600;

    .zipcode-field {
      width: 150px;
      color: black;
    }

    .edit-zipcode-button,
    .save-zipcode-button {
      padding: 0;
      border: 0;
      text-decoration: none;
    }
  }

  .local-city-rank {
    padding-top: 15px;
    color: #000;
    font-weight: 600;
  }
}
