@import "style/index.scss";

.container {
  display: flex;
  height: 113px;
  width: 100%;

  @include mq($until: tablet) {
    height: 48px;
  }

  ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    width: 100%;

    @include mq($until: tablet) {
      background-position: 0 -3px;
      background-size: 50px;
    }

    li {
      display: inline-block;
      flex: 1 1 100%;
      background-position: center 6px;

      & button {
        border: 0;
        cursor: pointer;
        // &:focus {
        //   outline: 0;
        // }
      }

      @include mq($until: mobileLandscape) {
        font-size: $font-size-smallest;
      }

      @include mq($from: mobileLandscape, $until: tablet) {
        font-size: $font-size-smaller;
      }

      @include mq($until: tablet) {
        background-position: 0 -3px;
        background-size: 50px;
      }

      &.top-city,
      &.density {
        border-right: 1px solid #e8e8e8;
      }

      &.top-city,
      &.density,
      &.rain-snow {
        background-color: #f4f4f4;
        transition: background-color 0.35s ease-out;

        &:not(.disabled):hover {
          background-color: #e1e1e1;
        }

        &.selected,
        &.selected:hover {
          @include mq($from: tablet) {
            background-color: $white;
          }

          @include mq($until: tablet) {
            .title {
              color: $white;
            }
          }
        }
      }

      &.top-city {
        background-image: url('./topCities_Gray.png');
        border-bottom: 7px solid $top-city-fill;

        // @media (max-width: 767px) {
        //   width: 50px;

        //   .title {
        //     width: 40px;
        //   }
        // }

        &.selected {
          background-image: url('./topCities_Active.png');

          @include mq($until: tablet) {
            background-image: url('./topCities_Active_white.png');
            background-color: $top-city-fill;
          }
        }

        .bottom-color {
          background-color: $top-city-fill;
        }
      }

      &.density {
        background-image: url('./density_Gray.png');
        border-bottom: 7px solid $density-fill;

        &.selected {
          background-image: url('./density_Active.png');

          @include mq($until: tablet) {
            background-image: url('./density_Active_white.png');
            background-color: $density-fill;
          }
        }

        .bottom-color {
          background-color: $density-fill;
        }
      }

      &.rain-snow {
        background-image: url('./rainSnow_Gray.png');
        border-bottom: 7px solid $rain-snow-fill;

        @include mq($until: tablet) {
          background-position: 0 -7px;
        }

        &.selected {
          background-image: url('./rainSnow_Active.png');

          @include mq($until: tablet) {
            background-image: url('./rainSnow_Active_white.png');
            background-color: $rain-snow-fill;
          }
        }

        .bottom-color {
          background-color: $rain-snow-fill;
        }
      }

      &.top-city.selected.disabled {
        background-image: url('./topCities_Gray.png');
      }

      &.rain-snow.selected.disabled {
        background-image: url('./rainSnow_Gray.png');
      }

      &.density.selected.disabled {
        background-image: url('./density_Gray.png');
      }

      .title {
        color: $dark-gray;
        font-family: 'Arial', sans-serif;
        padding-top: 63px;
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
        text-decoration: none;

        @include mq($until: tablet) {
          padding: 8px 0 0 46px;
          text-align: left;

          span {
            display: inline-block;
            width: 40px;
          }
        }
      }

      &.disabled {
        opacity: 0.5;
        text-align: center;
        // padding-top: 63px;
        border-bottom: 7px solid #bdbdbd;

        & button {
          cursor: not-allowed;
        }

        &.selected {
          border-bottom: 7px solid $dark-gray;
          background-color: $white;

          .title {
            color: $dark-gray;
          }
        }

        span {
          display: block;
        }

        @include mq($until: tablet) {
          text-align: left;

          span {
            margin-right: 0;
          }
        }

      }
    }
  }
}
