node_modules
dist
install.sh
*.sass
*.bak
npm-debug.log
old_files
*.old
Dockerfile
.dockerignore
coverage
src/components/SocialShare
src/components/Choropleth/__tests__
src/components/LocalCity/__tests__
src/components/MapSelector/__tests__
src/components/TabbedMap/__tests__
scripts/brakingEvents.js
