<!DOCTYPE html>
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" prefix="og: http://ogp.me/ns#">
  <head>
        <meta property="og:title" content="America's Best Driver Report" />
        <meta property="og:type" content="article" />
        <meta property="og:image" content="http://allstate-abd.uat.thethinktank.com/2017-delivery-test/img/ABD_FB_TW_LI.png" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="866" />
        <meta property="og:image:height" content="455" />
        <!--<meta property="og:url" content="https://www.allstate.com/tools-and-resources/americas-best-drivers.aspx" />-->
        <meta property="og:url" content="http://allstate-abd.uat.thethinktank.com/2017-delivery-test/" />
        <meta name="og:description" content="Is your city home to the best drivers in the US? The 2017 Allstate America's Best Drivers Report® has the answer." />
        <link rel="canonical" href="http://allstate-abd.uat.thethinktank.com/2017-delivery-test/" />
  </head>
  <body>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            // appId            : '51244333578',
            appId            : '1702229579859396',
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v2.9'
          });
          FB.AppEvents.logPageView();
        };

        (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>
      <div id="app" class="app-container"></div>
      <script src="//cdnapi.kaltura.com/p/1437641/sp/143764100/embedIframeJs/uiconf_id/14091641/partner_id/1437641"></script>
      <script src="//use.fontawesome.com/934103e5b8.js"></script>
      <script
          type="text/javascript"
          async defer
          src="//assets.pinterest.com/js/pinit.js"
      ></script>
    <!-- SiteCatalyst code version: H.22.1.
    Copyright 1996-2011 Adobe, Inc. All Rights Reserved
    More info available at http://www.omniture.com -->
    <script>
      var s_account="allstatedevelopment";
    </script>
    <script src="//www.allstate.com/includes/s_code.js"></script>
    <script>
      var w=window,d=document,e=d.documentElement,g=d.getElementsByTagName('body')[0],x=w.innerWidth||e.clientWidth||g.clientWidth,y=w.innerHeight||e.clientHeight||g.clientHeight;

      s.pageName = "TBD";
      s.server = "www.allstate.com";
      s.channel = "/abd/";
      s.prop10 = "";
      s.prop12 = "";
      s.prop13 = "";
      s.prop14 = "";
      s.eVar10 = "";
      var s_code=s.t();if(s_code)document.write(s_code);

    </script>
    <script language="JavaScript" type="text/javascript">
      if (navigator.appVersion.indexOf('MSIE') >= 0) {
        document.write(unescape('%3C')+'\!-'+'-')
      }
    </script>
    <noscript>
      <img src="http://allstate.122.2o7.net/b/ss/allstatedevelopment/1/H.22.1--NS/0" height="1" width="1" border="0" alt="" />
    </noscript><!--/DO NOT REMOVE/-->
    <!-- END SiteCatalyst -->
  </body>
</html>
