.container {

  .heading {
    height: 205px;
  }

  .top-city,
  .density,
  .rain-snow {
    // background-position: 15px 37px;
    display: flex;
    padding-top: 37px;
    color: #ffffff;
    font-weight: 600;
    // line-height: 22px;
  }

  .icon {
    margin-left: 15px;
    height: 64px;
    // width: 54px;
    width: 120px;
    background-repeat: no-repeat;
  }

  .top-city {
    background-color: #0096d6;
    .icon {
      background-image: url('./topCities_Active_white.png');
    }
  }

  .density {
    background-color: #e6527a;
    .icon {
      background-image: url('./density_Active_white.png');
    }
  }

  .rain-snow {
    background-color: #6d5dc9;
    .icon {
      background-image: url('./rainSnow_Active_white.png');
    }
  }

  .year-selector {
    padding: 0 10px 0 30px;
    font-size: 15px;
    line-height: 36px;
    // > div {

    // }
    > select {
      color: #333;
      font-weight: 100;
      height: 36px;
      width: 100px;
      border-radius: 4px;
    }
  }


  .year-selector {
    display: block;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    line-height: 36px;
    padding: 0 10px 0 30px;
  }

  h4 {
    font-size: 15px;
    margin: 0;
    // line-height: 22px;
    // padding-top: 7px;
  }

  h3 {
    font-size: 24px;
    margin: 0;
    // line-height: 22px;
    // margin-bottom: 12px;
  }
  p {
    font-weight: normal;
    font-size: 12px;
  }
}

