@import "style/index.scss";

.container {
  @include mq($from: tablet) {
    height: 740px;
  }

  .heading {
    background-position: 15px 37px;
    color: #fff;
    height: 205px;
    padding-top: 48px;

    @include mq($until: desktop) {
      padding: 25px 18px 0 0;
      background-position: 0 18px;
    }

    @include mq($until: tablet) {
      display: none;
    }

    &.top-city {
      background-color: #0096d6;
      background-image: url('./topCities_Active_white.png');
    }

    &.density {
      background-color: #e6527a;
      background-image: url('./density_Active_white.png');
    }

    &.rain-snow {
      background-color: #6d5dc9;
      background-image: url('./rainSnow_Active_white.png');
    }

    &.disabled-map {
      background-color: #ccc;
    }

    .year {
      font-size: 15px;
      font-weight: 400;
    }

    .title {
      font-size: 24px;
      font-weight: 600;

      @include mq($until: desktop) {
        font-size: 18px;
      }
    }

    .year,
    .title {
      margin: 0 0 0 70px;
      line-height: 22px;

      @include mq($until: desktop) {
        margin-left: 52px;
      }
    }

    .byline {
      color: #fff;
      font-size: 12px;
      line-height: 18px;
      margin-top: 0;
      padding-left: 37px;
      padding-right: 22px;
      padding-top: 10px;

      @include mq($until: desktop) {
        padding-left: 22px;
        padding-right: 5px;
      }
    }
  }

  .year-selector {
    font-size: 15px;
    line-height: 36px;
    padding: 0 10px 0 30px;

    select {
      border-radius: 4px;
      color: #333;
      font-weight: 100;
      height: 36px;
      width: 100px;
    }
  }

  .social-share {
    margin: auto 0 auto auto;

    @include mq($from: tablet) {
      display: none;
    }
  }

  .social-city-container {
    display: flex;
    // height: 34px;
  }
}
