@import 'themes/variables.scss';
.container {
  align-self: center;
  align-items: center;
  margin-bottom: 54px;
  @media(max-width: 767px) {
    margin-bottom: 21px;
  }
  // display: table-cell;
  // vertical-align: middle;
  .selector-container {
    display: flex;
    height: 40px;
    align-self: center;
    align-items: center;
  }
  button,
  label,
  .select-box {
    height: 40px;
    line-height: 1;
  }

  button {
    @include button(16px);
    width: 48px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 14px;
    padding-left: 14px;
    background-color: $top-city-fill;
    display: inline-block;
    // vertical-align: middle;
    margin-left: 22px;
    border: none;
    border-radius: 4px;
    line-height: 14px;
  }

  label {
    @extend .font-normal;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }

  .select-box {
    border: 1px solid #e6e6e6;
    background: #fafafa url("./select-arrow.png") no-repeat 90% 50%;
    border-radius: 4px;
    overflow: hidden;
    height: 40px;

    &.year {
      width: 90px;
    }

    &.state {
      width: 165px;
      @media(max-width: 767px) {
        width: 130px;
      }
    }
    select {
      font-size: 14px;
      color: #4d4d4d;
      font-weight: bold;
      line-height: 1;
      padding-top: 9px;
      padding-left: 10px;
      padding-bottom: 13px;
      width: 130%;
      height: 110%;
      border: none;
      box-shadow: none;
      background: transparent;
      background-image: none;
      -webkit-appearance: none;
    }
  }
  // select {
  //   .year & {
  //     width: 130%;
  //   }

  //   .state & {
  //     width: 130%;
  //   }
    // position:relative;
    // display:inline-block;
    // padding:6px 0;
    // margin-bottom:15px;
    // min-width:187px;
    // font:bold 14px/20px 'Open Sans',sans-serif;
    // color:#0096d6;
    // background-color:#fff;
    // border:1px solid #c8c9cb;
    // text-decoration:none;
    // text-transform:uppercase;
    // cursor:pointer;

    // border: $border;
    // background: transparent;
    // appearance: none;
  // }

  select:first-child {
    // margin-right: 40px;
  }
  select:nth-child(2) {
    // width: 96px;
  }
  label {
    // @extend .font-normal;
    // line-height: 36px;
    // padding: 0 10px 0 30px;
    // @extend .font-normal;
    // display: inline-block;
    // margin-right: 10px;
    // background: url(./select-arrow.png) no-repeat right center;
    // select {
    //   @extend .font-bold;
    //   border-radius: 4px;
    //   margin-left: 10px;
    //   height: 36px;
    //   width: 100px;
    // }
  }
  label.state-label {
    margin-left: 40px;
    @media(max-width: 767px) {
      margin-left: 12px;
    }
  }

  .clear-search-container {
    height: 30px;
    .state-name,
    .safe-city-count {
      font-weight: bold;
    }

    .factoid {}
    .clear-search {}
  }

}
