@import "style/index.scss";

.container {
  align-self: center;
  align-items: center;
  margin-bottom: 9px;

  // @include mq($until: mobile) {

  // }
  @media (max-width: 767px) {
    margin-bottom: 21px;
    width: 95%;
  }
  // display: table-cell;
  // vertical-align: middle;
  .selector-container {
    display: flex;
    height: 40px;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  .year-select {}
  .state-select {}
  .year-label {}

  button,
  label,
  .select-box {
    height: 40px;
    line-height: 1;
  }

  button {
    @include button(16px);

    width: 48px;
    padding: 14px;
    background-color: $top-city-fill;
    display: inline-block;
    // vertical-align: middle;
    margin-left: 22px;
    border: none;
    border-radius: 4px;
    line-height: 14px;
  }

  label {
    @extend .font-normal;

    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;

    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }

  .select-box {
    border: 1px solid #e6e6e6;
    background: #fafafa url("./select-arrow.png") no-repeat 90% 50%;
    border-radius: 4px;
    overflow: hidden;
    height: 40px;

    &.year {
      width: 90px;
    }

    &.state {
      width: 165px;

      @media (max-width: 767px) {
        width: 130px;
      }
    }

    select {
      font-size: 14px;
      color: #4d4d4d;
      font-weight: bold;
      line-height: 1;
      padding-top: 9px;
      padding-left: 10px;
      padding-bottom: 13px;
      width: 130%;
      height: 110%;
      border: none;
      box-shadow: none;
      background: transparent;
      background-image: none;
      -webkit-appearance: none;
    }
  }


  label.state-label {
    margin-left: 40px;

    @media (max-width: 767px) {
      margin-left: 12px;
    }
  }
}

.clear-search-container {
  height: 30px;
  display: flex;
  justify-content: flex-end;

  .state-name,
  .safe-city-count {
    font-weight: bold;
  }

  .error {
    color: #f00;
  }

  .factoid {
  }

  .clear-search {
    margin-right: 30px;
    margin-left: 5px;
  }
}
