@import "style/index.scss";

:global .ReactModal__Body--open {
  overflow: hidden;

  @include mq($until: desktop) {
    position: fixed;
  }
}

:global .ReactModalPortal {
  .modal-overlay {
    bottom: 0;
    left: 0;
    outline: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;

    @include mq($until: desktop) {
      background-color: rgba(255, 0, 0, 0.4);
    }

    @include mq($from: desktop) {
      background-color: rgba(128, 128, 128, 0.5);
    }

    @include mq($until: desktop) {
      overflow-x: hidden;
      transition: 0.5s;
      width: 0;
    }

    &.ReactModal__Overlay--after-open {
      @include mq($until: desktop) {
        width: 100%;
      }
    }

    &.ReactModal__Overlay--before-close {
      @include mq($until: desktop) {
        width: 0;
      }
    }
  }

  .modal-content {
    background-color: #fff;
    position: absolute;

    &:focus {
      outline: 0;
    }

    @include mq($until: desktop) {
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
    }

    @include mq($from: desktop) {
      border: 1px #e8e8e8;
      border-radius: 15px;
      height: 467px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 452px;
    }

    &.ReactModal__Content--after-open {
    }

    &.ReactModal__Content--before-close {
    }
  }

  .city-modal-container {
    background-color: #fff;
    border-radius: 5px;
    position: relative;
  }

  .city-modal-heading-container {
    display: flex;
    // flex-direction: column;
    padding-bottom: 19px;

    & button {
      border: 0;
    }

    .city-modal-city-container {
      width: 85%;

      h2 {
        padding: 0;
      }
    }

    .city-name,
    .city-rank {
      margin-left: 73px;
      white-space: nowrap;
    }

    &.no-badge {
      .city-name,
      .city-rank {
        margin-left: 26px;

        @media (max-width: 767px) {
          margin-left: 15px;
        }
      }
    }

    &.this-years-best {
      background-image: url('./icon-best.png');
      background-position: 26px 18px;
      background-repeat: no-repeat;
      background-size: 34px 45px;
    }

    &.badge {
      background-position: 26px 18px;
      background-repeat: no-repeat;
      background-size: 34px 45px;

      &.this-years-best {
        background-image: url('./icon-best.png');
      }

      &.most-improved {
        background-image: url('./icon-improved.png');
      }

      &.new-location {
        background-image: url('./icon-new.png');
        background-size: 45px 45px;
      }
    }

    .city-name {
      color: #4d4d4d;
      font-family: 'Arial', sans-serif;
      font-size: 24px;
      font-weight: normal;
      line-height: 24px;
      margin-bottom: 0;
      margin-top: 26px;
    }

    .city-rank {
      color: #4d4d4d;
      font-size: 14px;
      font-weight: bold;
      line-height: 14px;
      margin-top: 10px;
      padding-top: 0;

      span {
        color: #333;
        // font-variant-numeric: ordinal;
        font-weight: bold;

        &.density-line,
        &.rain-snow-line {
          font-weight: 100;
        }
      }
    }

    .close {
      // border: 1px solid black;
      align-self: center;
      color: rgb(0, 117, 201);
      cursor: pointer;
      display: flex;
      font-size: $font-size-base;
      justify-content: flex-end;
      line-height: 18px;
      text-align: right;

      @include mq($until: tablet) {
        div:first-child {
          display: none;
        }
      }

      .times {
        display: inline-block;
        font-size: 24px;
        line-height: 16px;
        margin-left: 4px;
        margin-top: 0;

        @include mq($until: tablet) {
          margin-left: 24px;
        }

        a {
          color: rgb(0, 117, 201);
          text-decoration: none;
        }
      }
    }
  }

  .rankings-container {
    border-top: 1px solid #e8e8e8;
    padding-bottom: 20px;

    h5 {
      font-size: 14px;
      margin: 0;
      margin-top: 23px;
    }

    .arrow-up,
    .arrow-down,
    .no-change {
      background-size: 16px 16px;
      display: inline-block;
      height: 16px;
      width: 16px;
    }

    .arrow-up {
      background-image: url('./icon-up.png');
    }

    .arrow-down {
      background-image: url('./icon-down.png');
    }

    & > h5,
    & > div {
      margin-left: 96px;

      @media (max-width: 767px) {
        margin-left: 15px;
      }
    }

    & > div {
      font-size: 18px;
      line-height: 32px;
    }

    & > div > span:first-child {
      display: inline-block;
      width: 213px;

      @media (max-width: 767px) {
        width: 80%;
      }
      // margin-left: 82px;
    }

    & > div > .rank {
      display: inline-block;
      margin-left: 22px;
    }

    .overall-ranking {
      color: #0096d6;

      span.rank {
        margin-left: 6px;
      }
    }

    .population-ranking {
      color: #dd2153;
    }

    .rain-snow-ranking {
      color: #6d5dc9;
    }

    .last-years-ranking {
      color: #757575;
    }
  }

  .additional-data {
    border-top: 1px solid #e8e8e8;
    color: #4d4d4d;
    display: flex;
    font-size: 14px;

    h5 {
      font-size: 14px;
      margin: 0;
    }

    .city-data-container,
    .suburban-data-container {
      // height: 90%;
      line-height: 18px;
      padding-top: 19px;

      @include mq($until: desktop) {
        border-right: 0;
        padding-bottom: 16px;
        padding-left: 15px;
        width: 100%;
      }

      @include mq($from: desktop) {
        width: 50%;
      }

      & > div:nth-of-type(2) {
        margin-top: 16px;
      }

      & > div:nth-of-type(3) {
        margin-top: 15px;
      }

      & > div > span {
        font-weight: bold;
      }
    }

    .city-data-container {
      border-right: 1px solid #e8e8e8;

      @include mq($from: desktop) {
        padding-left: 26px;
        padding-right: 34px;
      }

      & > h5,
      & > div {
        // margin-right: 34px;
        // width: 163px;

        @include mq($until: tablet) {
          margin-right: 0;
          width: 60%;
        }
      }
    }

    .suburban-data-container {
      // margin-left: 23px;

      @include mq($until: desktop) {
        padding-bottom: 20px;
      }

      @include mq($from: desktop) {
        padding-left: 23px;
        padding-right: 29px;
      }

      & > h5,
      & > div {
        // margin-right: 29px;

        @include mq($until: tablet) {
          margin-right: 0;
          // width: 60%;
        }
      }

      @media (max-width: 767px) {
        border-top: 1px solid #e8e8e8;
        padding-top: 17px;
        // margin-left: 15px;
        width: 100%;
      }
    }

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  .footnotes-container {
    background-color: #f8f8f8;
    border-radius: 5px;
    color: #4d4d4d;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    height: 54px;
    align-items: center;
    line-height: 14px;

    @include mq($until: desktop) {
      padding-left: 15px;
    }

    @include mq($from: desktop) {
      padding-left: 26px;
    }

    & > div {
      // margin-left: 26px;

      @media (max-width: 767px) {
        // margin-left: 15px;
      }
    }
  }
}
