@import "style/index.scss";

.container {
  height: 100%;
  margin: 0 auto;

  @include mq($until: tablet) {
    width: 100%;
  }

  @include mq($from: tablet) {
    width: 90%;
  }

  .content {
    display: flex;
    height: 100%;
    width: auto;
    flex-direction: column;
    // margin: 130px auto 80px auto;
    @include mq($from: desktop) {
      // max-width: 960px;
      // margin: auto;
      .report-container {
        width: 100%;
      }
    }

    @include mq($from: tablet, $until: desktop) {
      // max-width: 780px;
      // margin: auto;
      .report-container {
        width: 100%;
      }
    }
    // @include mq($from: desktop) {
    //   max-width: 960px;
    // }
    @include mq($until: tablet) {
      width: 100%;
    }
  }
}
