$mq-breakpoints: (
  mobile:  320px,
  mobileMapSelector: 480px,
  mobileLandscape: 640px,
  tablet:  767px,
  desktop: 980px,
  wide:    1300px
);

$mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, wide);

@import '~sass-mq';
