@import "style/index.scss";

.container {
  border-left: 1px solid #f0f0f0;
  height: 533px;
  overflow-y: scroll;
  padding-left: 20px;

  @include mq($until: tablet) {
    background-color: $white-smoke;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 430px;
    overflow: hidden;
    padding-left: 0;
  }

  .ranking {
    fill: #fff;

    @include mq($until: desktop) {
      font-size: 12px;
    }

    @include mq($from: desktop) {
      font-size: 15px;
    }
  }

  .instructions {
    color: #333;
    font-style: italic;
    margin-bottom: 20px;
    margin-top: 32px;

    @include mq($until: tablet) {
      display: none;
    }
  }

  .scroller-container {
    @include mq($from: tablet) {
      display: none;
    }
  }

  ol.list-container {
    padding: 0;

    .previous,
    .next {
      display: none;
    }

    @include mq($until: tablet) {
      height: 322px;
      margin-top: 30px;
      margin-bottom: 15px;
      overflow: hidden;
      transition: transform 0.6s ease-in-out;
    }

    li {
      border-top-left-radius: 15px;
      border-top-right-radius: 2px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 2px;
      color: $white;
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: 400;
      // height: 30px;
      height: 40px;
      list-style-type: none;
      margin-bottom: 10px;
      padding: 0;

      @include mq($until: desktop) {
        height: 46px;
        margin-bottom: 0;
      }

      &:hover {
        background: $white-smoke;
        cursor: pointer;
      }

      &.top-city circle {
        fill: $top-city-fill;
      }

      &.density circle {
        fill: $density-fill;
      }

      &.rain-snow circle {
        fill: $rain-snow-fill;
      }

      .cityState {
        color: $darker-gray;

        @include mq($from: desktop) {
          font-size: 15px;
        }
        // padding-left: 5px;
        // padding-top: 5px;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        @include mq($from: mobileLandscape, $until: desktop) {
          width: 130px;
        }

        @include mq($from: desktop) {
          width: 155px;
        }

        a {
          text-decoration: none;
          color: $darker-gray;
        }

        @include mq($until: tablet) {
          line-height: 23px;
          background-repeat: no-repeat;
          background-image: url(./list-arrow.png);
          background-position: right center;
          font-size: 14px;

          a {
            margin-right: 15px;
          }
        }
      }

      svg {
        margin-right: 5px;
        width: 30px;
        height: 30px;

        @include mq($until: tablet) {
          margin-right: 10px;
          width: 21px;
          height: 21px;

          text {
            font-size: 14px;
            // vertical-align: middle;
            baseline-shift: -1px;
          }
        }
      }
    }
  }

  @include mq($until: tablet) {
    .scroller-nav {
      width: 100%;
    }

    ol.scroller-container {
      margin: 0;
      padding-left: 0;
      list-style: none;
      list-style-type: none;

      li {
        display: inline-block;
        cursor: pointer;
        width: 50%;
        border-top: 1px solid #fff;
        height: 63px;
        padding: 15px 0;

        & button {
          border: 0;
          cursor: pointer;
          display: inline-block;
          width: 100%;
        }

        img {
          margin: 0 auto;
        }

        &.previous {
          border-right: 1px solid #fff;
        }

        &.next {
          border-left: 1px solid #fff;
        }
      }
    }
  }
}
