@import 'themes/variables.scss';

.container {
  height: 535px;
  border-left: 1px solid #f0f0f0;
  padding-left: 20px;
  // margin-left: 20px;
  overflow: hidden;
  @media(max-width: 767px) {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: $white-smoke;
  }
  .ranking {
    fill: #fff;
    font-size: 12px;
  }

  .instructions {
    font-style: italic;
    margin-top: 32px;
    margin-bottom: 20px;
    color: #333333;
    @media(max-width: 767px) {
      display: none;
    }
  }

  ul {

    padding: 0;
    @media(max-width: 767px) {
      height: 300px;
      margin: 30px 0 15px;
    }
  }
  .sections {

  }
  .paging {
    // overflow-y: scroll;
    .previous {}
    .next {}
  }
  li {
    display: flex;
    font-size: 12px;
    font-weight: 400;
    height: 40px;
    color: rgb(255, 255, 255);
    list-style-type: none;
    padding: 0;
    height: 30px;
    margin-bottom: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    &:hover {
      background: #F6F6F6;
      cursor: pointer;
    }
    &.top-city circle {
      fill: $top-city-fill;
        // stroke: rgb(67, 199, 255);
    }
    &.density circle {
      fill: $density-fill;
    }
    &.rain-snow circle {
      fill: $rain-snow-fill;
        // stroke: rgb(162, 146, 255);
    }

    .cityState {
      color: #333;
      padding-top: 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 15px;
      padding-left: 5px;
    }
    svg {
      margin-right: 5px;
      @media(max-width: 767px) {
        margin-right: 10px;
      }
    }
    // svg {

    //   // background-color: transparent;
    //   // background-image: url('./marker.png');
    //   // background-repeat: no-repeat;
    //   // background-size: contain;
    //   color: #fff;
    //   content: '';
    //   // float: left;
    //   font-size: 10px;
    //   height: 33px;
    //   // margin-right: 10px;
    //   text-align: center;
    //   width: 23px;
    //   margin-right: 3px;
    //   .text {
    //     // display: block;
    //     margin-top: 10px;
    //   }
    // }
  }
}

