$white: #ffffff;
$light-gray: #e8e8e8;
$lighter-gray: #f0f0f0;
$dark-gray: #666666;
$darker-gray: #333333;

// top city
$light-cyan-blue: #43c7ff;
$dark-cyan-blue: #0096d6;

// population density
$magenta-red: #e6527a;
$light-magenta-red: #ff9db8;

// rain and snow
$light-blue: #a292ff;
$dark-blue: #6d5dc9;

// most improved
$light-yellow: #f3c303;

// new location
$light-yellow-green: #6db33f;
