@import "style/index.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .map-container {
    border: 1px solid #f0f0f0;
    display: flex;
    // min-height: 740px;

    @include mq($until: tablet) {
      flex-direction: column;
    }
  }

  .top-listings {
    width: 25%;

    @include mq($until: tablet) {
      width: 100%;
    }
  }

  .maps {
    @include mq($from: tablet) {
      width: 75%;
      // min-width: 720px;
    }

    // @media (max-width: 767px) {
    //   width: 100%;
    //   min-width: 100%;
    // }

    .timeLine-SocialContainer {
      display: flex;
      margin: 0 auto;
      padding-top: 10px;
      width: 100%;

      .socialContainer {
        float: right;
        padding-top: 14px;
      }
    }
  }

  .legend-container {
    border: 1px solid #ebebeb;
    display: inline-block;
    margin-top: 10px;
    width: 440px;
    height: 34px;
    padding: 0 20px;

    @include mq($until: tablet) {
      display: none;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;

      li {
        display: inline;
        font-family: 'Arial', sans-serif;
        font-size: 15px;
        line-height: 34px;
        margin: 0;
        padding: 0 40px 0 0;

        &:last-child {
          padding: 0;
        }

        span {
          display: inline-block;
          font-size: 26px;
          height: 34px;
          margin: 0;
          padding: 0 2px 0 0;
          vertical-align: middle;
        }

        .blue {
          color: #0096d6;
        }

        .yellow {
          color: #f3c303;
        }

        .green {
          color: #6db33f;
        }
      }
    }

  }

  .social-container {
  }
}

