@import '../../variables.scss';

.container {
  // height: 115px;
  // width: calc(100% / 3);
  // background-size: 60px;
  background-position: center 6px;
  @media (max-width: 767px) {
    background-position: 0px -3px;
  }
  flex: 1 1 100%;

  .title {
    color: #666;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    margin-top: 63px;
    text-align: center;
    text-decoration: none;
    @media (max-width: 767px) {
      font-size: 10px;
      margin: 8px 0 0 46px;
    }
  }

  &.top-city,
  &.density {
    border-right: $border;
  }
  &.top-city,
  &.density,
  &.rain-snow {
    background-color: #f4f4f4;
    transition: background-color 0.35s ease-out;

    &:hover {
      background-color: #e1e1e1
    }

    &.selected,
    &.selected:hover {
      @media (min-width: 768px) {
        background-color: #ffffff;
      }
      @media (max-width: 767px) {
        .title {
          color: rgb(255, 255, 255);
        }
      }
    }
  }
  &.top-city {
    background-image: url('./topCities_Gray.png');
    border-bottom: 7px solid $top-city-fill;

    &.selected {
      background-image: url('./topCities_Active.png');
      @media(max-width:767px) {
        background-image: url('./topCities_Active_white.png');
        background-color: $top-city-fill;
      }
    }

    .bottom-color {
      background-color: #0096d6;
    }
  }

  &.density {
    background-image: url('./density_Gray.png');
    border-bottom: 7px solid #e6527a;
    // background-color: #f4f4f4;
    // transition: background-color 0.35s ease-out;

    // &:hover {
    //   background-color: #e1e1e1
    // }

    &.selected {
      background-image: url('./density_Active.png');
      @media(max-width:767px) {
        background-image: url('./density_Active_white.png');
        background-color: $density-fill;
      }
    }

    .bottom-color {
      background-color: #e6527a;
    }
  }

  &.rain-snow {
    background-image: url('./rainSnow_Gray.png');
    border-bottom: 7px solid #6d5dc9;
    // background-color: #f4f4f4;
    // transition: background-color 0.35s ease-out;

    // &:hover {
    //   background-color: #e1e1e1
    // }

    &.selected {
      background-image: url('./rainSnow_Active.png');
      @media(max-width: 767px) {
        background-image: url('./rainSnow_Active_white.png');
        background-color: $rain-snow-fill;
      }
    }


    .bottom-color {
      background-color: #6d5dc9;
    }
  }

}
