$top-city-fill: $dark-cyan-blue;
$top-city-stroke: $light-cyan-blue;

$density-fill: $magenta-red;
$density-stroke: $light-magenta-red;

$rain-snow-fill: $dark-blue;
$rain-snow-stroke: $light-blue;

$new-location-fill: $light-yellow-green;
$most-improved-fill: $light-yellow;
