@import "style/index.scss";

.zoom-bar-wrapper {
  position: absolute;
  right: 26px;
  bottom: 50px;
  height: 118px;
}

.zoom-in,
.zoom-out {
  background: #fff;
  border: solid 1px #e3e3e3;
  border-radius: 0;
  color: #0096d6;
  font-size: 16px;
  // top: 0;
  left: -1px;
  // right: 20px;
  width: 18px;
  height: 19px;
  cursor: pointer;
  line-height: 10px;
  text-align: center;
  padding: 3px;
  // overflow: visible;
  position: absolute;
  z-index: 10;
  // padding: 0 3px;
}

.zoom-in {
  top: -18px
  // bottom: 155px;
}

.zoom-out {
  bottom: -20px;
}

:global {
  .zoom-bar {
    // .rc-slider-step {
    //   width: 6px;
    //   border-left: 1px solid #e3e3e3;
    //   border-right: 1px solid #e3e3e3;
    // }
    & .rc-slider-dot {
      display: none;
    }
    &.rc-slider-vertical {
      .rc-slider-mark {
        left: 0;

        // span:nth-child(4) {
        //   margin-top: 20px;
        // }
      }
    }
  }
}

.container {
  @include mq($until: tablet) {
    display: none;
  }

  @include mq($from: tablet) {
    position: relative;
    height: 625px;
  }
}

:global {
  .svg-map-container {
    position: relative;
    // padding-bottom: 100%; // should equal aspectRatio, will be overriden during render by 100% * (height/width)
  }

  .marker-tooltip {
    position: absolute;
    display: none;
    height: 1em;
    box-sizing: content-box;
    border: solid 2px #0076a7;
    background-color: #fff;
    padding: 3px;
    color: #000;
    border-radius: 0;
    font-weight: 500;
    font-size: $font-size-smaller;
    font-family: $font-family-base;
    z-index: 20;
  }

  .svg-map-content {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }

  .svg-map-background {
    fill: none;
    pointer-events: all;
  }

  .svg-map-feature {
    fill: $light-gray;
  }

  .svg-map-mesh {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  text,
  .marker {
    cursor: pointer;
  }

  .marker {
    fill-opacity: 1;
    stroke-opacity: 1;
    stroke-width: 1;

    &.top-city {
      fill: $top-city-fill;
      stroke: $top-city-stroke;
    }

    &.density {
      fill: $density-fill;
      stroke: $density-stroke;
    }

    &.rain-snow {
      fill: $rain-snow-fill;
      stroke: $rain-snow-stroke;
    }

    &.top-city.new-location {
      fill: $new-location-fill;
      stroke: $new-location-fill;
    }

    &.top-city.most-improved {
      fill: $most-improved-fill;
      stroke: $most-improved-fill;
    }

    & .rank {
      text-anchor: middle;
      // dominant-baseline: central;
      font-family: $font-family-base;
      // font-size: $font-size-marker;
      fill: $white;
      stroke: none;
    }
  }
}
