@import "style/index.scss";

.container {
  color: #666;
  font-size: 12px;
  line-height: 12px;
  align-self: flex-start;
  margin-bottom: 20px;

  @media (max-width: 767px) {
    display: none;
  }

  ol {
    margin: 0;
    padding-left: 0;
    list-style: none;

    li.breadcrumb {
      display: inline;
      cursor: pointer;

      [aria-current="page"] {
        color: $dark-gray;
        text-decoration: none;
      }
    }

    li + li::before {
      content: '\00a0>\00a0';
    }
  }
}


