
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 14px;

  .font-loaded {
    font-family: 'Open Sans', sans-serif;
  }

  .app {
    background-color: #fafafa;
    min-height: 100%;
    min-width: 100%;
  }

  a:link,
  a:visited {
    color: #5e8b2d;
    text-decoration: none;
  }

  a:active,
  a:hover {
    color: #446d1e;
  }
}

