
$font-size-base: 14px;
$font-size-large: ceil(($font-size-base * 1.25)); // ~18px
$font-size-small: ceil(($font-size-base * .85)); // ~12px

$new-location-fill: rgb(109, 179, 63);
$most-improved-fill: rgb(243, 195, 3);

$top-city-fill: rgb(0, 150, 214);
$top-city-stroke: rgb(67, 199, 255);

$density-fill: rgb(230, 82, 122);
$density-stroke: rgb(255, 157, 184);

$rain-snow-fill: rgb(109, 93, 201);
$rain-snow-stroke: rgb(162, 146, 255);

$border: 1px solid rgb(240, 240, 240);

@mixin button($font-size) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: $font-size;
  color: rgb(240, 240, 240);
}

.font-normal {
  font-family: Arial, Helvetica, sans-serif;
  font-size: $font-size-base;
  color: rgb(51, 51, 51);
}

.font-bold {
  font-family: Arial, Helvetica, sans-serif;
  font-size: $font-size-base;
  color: rgb(51, 51, 51);
  font-weight: bold;
}
