@import "style/index.scss";

.container {
  margin-bottom: 30px;
  width: 100%;

  img {
    display: block;
    margin: 0 auto;
    height: auto;

    @include mq($until: tablet) {
      max-width: 100%;
    }

    @include mq($from: tablet) {
      max-width: 550px;
    }
  }
}
