@import "style/index.scss";

.container {
  margin-bottom: 30px;
  width: 100%;

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }

  @include mq($until: tablet) {
    .mobile-logo {
      display: block;
    }

    .desktop-and-tablet-header {
      display: none;
    }
  }

  @include mq($from: tablet) {
    .mobile-logo {
      display: none;
    }

    .desktop-and-tablet-header {
      display: block;
    }
  }
}
