.container {
  display: flex;
  justify-content: center;
  min-height: 134px;
  margin-bottom: 15px;
  width: 100%;
  // min-width: 430px;
  .desktop-header {
    display: block;
  }
  .mobile-header {
    display: none;
  }
  @media (max-width: 767px) {
    .desktop-header {
      display: none;
    }
    .mobile-header {
      display: block;
    }
  }
}
